apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      imagePullSecrets:
      - name: ecr-secret
      containers:
      - name: frontend
        image: 814992167159.dkr.ecr.us-east-1.amazonaws.com/frontend:v1
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
